<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="/users/users">All Users</a>
      <a href="/users/user-create">Add a User</a>
      <a href="/posts">See all posts</a>
      <a href="/posts/post-create">Create a Post</a>
    </nav>
    {{{body}}}
  </body>
</html>
